<?xml version="1.0" encoding="utf-8"?>
<!-- 
# Installer fragment for RedGate.ThirdParty.SQLCover
   
## Dependencies ##
Microsoft.SqlServer.TransactSql.ScriptDom.dll
## Referenceable entry-points ##
| Id                         | Type      | Comments                                                                     |
|============================|===========|==============================================================================|
| RedGate.ThirdParty.SQLCover.dll | Component | Reference this to get RedGate.ThirdParty.SQLCover.dll installed in INSTALLDIR |
## Wix Variables ##
None.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="RedGate.ThirdParty.SQLCover">
        <File Source="RedGate.ThirdParty.SQLCover.dll" />
      </Component>
	  <Component Id="RedGate.ThirdParty.SQLCover">
        <File Source="Microsoft.SqlServer.TransactSql.ScriptDom.dll" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>