html{
    font-family: "Roboto","Helvetica Neue",Arial,Sans-serif;
    font-size: 100%;
    line-height: 26px;
    word-break: break-word;
}

/* .covered-statement{
    background-color: lightgreen !important;
}

body{
    background-color: lightgray;
}

.batch{
    background-color: darkgray;
}

.total > td {
    font-weight: bold;
}

.summary-table > thead{
    background-color: darkgray;
} */